<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- Title that goes in the browser tab -->
    <title>{{title}}</title>
  </head>
  <body>
    <!-- Navigation bar at top of page -->
    <nav
      class="navbar navbar-expand navbar-light bg-light"
      style="margin-bottom: 20px"
    >
      <div
        style="
          width: 100%;
          max-width: 1400px;
          margin: auto;
          display: flex;
          padding: 0 30px;
        "
      >
        <a class="navbar-brand" href="/">BBPS Hobbies</a>
        <div class="navbar-nav">
          <a class="nav-item nav-link {{nav.hobbies}}" href="/">Hobbies</a>
        </div>
        <div class="navbar-nav">
          <a class="nav-item nav-link {{nav.users}}" href="/users">Users</a>
        </div>
        <div style="flex: 1"></div>
        {% if loggedIn %}
        <div style="display: flex">
          <div class="navbar-nav">
            <a
              class="nav-item nav-link {{nav.self}}"
              href="/users/{{loggedIn.user.id}}"
              >{{loggedIn.user.username}}</a
            >
          </div>
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/logout">Logout</a>
          </div>
        </div>
        {% else %}
        <div style="display: flex">
          <div class="navbar-nav">
            <a class="nav-item nav-link {{nav.signup}}" href="/signup"
              >Sign Up</a
            >
          </div>
          <div class="navbar-nav">
            <a class="nav-item nav-link {{nav.login}}" href="/login">Log In</a>
          </div>
        </div>
        {% endif %}
      </div>
    </nav>

    <!-- Container for page content -->
    <div style="width: 100%; max-width: 1400px; margin: auto; padding: 0 30px">
      {% block content %} {% endblock %}
    </div>

    <!-- Scripts for vue and Bootstrap -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script src="https://unpkg.com/vue@next"></script>

    {% block scripts %} {% endblock %}
  </body>
</html>
