{% extends 'hobbies/base.html' %}
{% block content %}
          <div class="content-section">
              <form method="POST">
                  {% csrf_token %}
                  <fieldset class="form-group">
                      <legend class="border-bottom mb-4">Create Hobby</legend>
                      {{ form.as_p }}
                  </fieldset>
                  <div class="form-group">
                      <button class="btn btn-outline-info" type="submit">Submit</button>
                      <small class="text-muted ml-2">
                      </small>
                  </div>
              </form>
              <div class="border-top pt-3">
              </div>
          </div>
      {% endblock content %} 