{% extends 'hobbies/base.html' %} {% block content %}
<div id="app">
  <template v-if="loaded">
    <!-- HOBBIES TABLE -->
    <div id="hobbies" style="margin-bottom: 20px">
      <!-- DISPLAY HOBBIES TABLE -->
      <div style="display: flex">
        <h1 style="flex: 1">Hobbies</h1>
        <a href="/hobbies/create">
          <button
            type="button"
            class="btn btn-success"
            @click="creatingArtist=true"
            style="margin-left: 10px"
          >
            Create Hobby
          </button>
        </a>
      </div>

      <div style="margin-top: 20px">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col" class="col-md-auto">Name</th>
              <th scope="col" class="col-md-auto">Description</th>
              <th scope="col" class="col-md-auto">Members</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="hobby in hobbies">
              <th scope="row">[[ hobby.name ]]</th>
              <td>[[ hobby.description ]]</td>
              <td>[[ hobby.users.total ]]</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </template>
  <template v-else> Loading... </template>
</div>
{% endblock %} {% block scripts %}
<script>
  let myApp = Vue.createApp({
    delimiters: ["[[", "]]"],
    data() {
      // Initialize app with empty values
      return {
        loaded: false,
        hobbies: [],
      };
    },
    async created() {
      // Fetch all hobbies and assign to hobbies var
      let hobbiesResponse = await fetch("{% url 'hobbies_api' %}");
      if (hobbiesResponse.ok) {
        const data = await hobbiesResponse.json();
        this.hobbies = data.hobbies;
        this.loaded = true;
      } else {
        alert("Failed to load hobbies");
      }
    },
    methods: {},
  });

  myApp.mount("#app");
</script>
{% endblock %}
